@import "./styles/global.scss";

body{
  background-color: #f85032;
  font-family: $fontPrimary;
}
.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
  
  .headerApp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .tittle{
      width: 400px;
    }

    .inputContainer{
      display: flex;
      gap: 10px;
      justify-content: center;

      .searchPokemon, select{
        padding: 15px;
        border: none;
        outline: 0;
        font-size: 17px;
        border-radius: 20px;
      }
      .buttonSearch{
        background-color: #0d6efd;
        padding: 10px 15px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        transition: 0.3s;
  
        &:hover{
          background-color: #4a92fe;
        }
      }
    }
    
  }
  
  .pokeContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: fit-content;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
  }
}