.cardContent{
  border-radius: 20px;
  box-shadow: -3px 3px 20px -5px rgba(0,0,0,0.75);
  padding: 10px;
  text-transform: capitalize;
  border: 5px #FFE900 solid;
  background-color: #ff8000;
  }

  .headerContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .namePokemon{
      font-size: 20px;
      max-width: 175px;
    }

    .logoPokeBall{
      width: 45px;
    }

  }
  .imagePokemon{
    padding: 10px;
    width: 220px;
    height: 200px;
    border: 5px #FFE900 solid;
    border-radius: 10px;
    background-color: rgba($color: #7fc2ac, $alpha: .5);
  }
  
  .infoPokedex{
    position: relative;
    top: -18px;
    right: -16px;
    width: fit-content;
    font-size: 11px;
    background-color: rgb(211, 211, 211);
    font-style: italic;
    text-align: center;
    min-width: 190px;
    padding: 0 10px;
    border-radius: 5px;
  }

  .listType{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    list-style: none;
    background-color: white;
    padding: 5px 15px;
    border-radius: 20px;

    .itemType{
      font-size: 15px;
      display: flex;
      gap: 5px;
    
      .logoType{
        width: 15px;
      }
    }
  }