.cardContent{
  border-radius: 20px;
  box-shadow: -3px 3px 20px -5px rgba(0,0,0,0.75);
  padding: 10px;

  .namePokemon{
    text-align: center;
  }

  img{
    width: 200px;
  }

  ul{
    list-style: none;
  }

}